@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #FFFBF5;
}
.hero{
    height: calc(100svh - 100px);
}
.google{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}