
@import "/src/app.scss";

.test{
    height: 100svh;
    width: 100%;
    background-color: aqua;
    @include mobile {
       background-color: red;
      }
}
.initial{
    display: flex;
    flex-direction: column;
    @include mobile {
        flex-direction: row;
      }
}